/* This file is for your main application css. */

form > div.alert-danger ~ .form-group .form-control {
  border: 1px solid #ff0000;
}

form > div.alert-danger ~ .form-group .help-block {
  color: #ff0000;
}

/* Style about the tweet */

.timeline {
  list-style: none;
  margin-top: 10px;
}

.tweet {
  padding: 15px;
  border-left: .3rem solid #d1d1d1
}

.tweet__author {
  font-weight: bold;
}

.tweet__author::before {
  content: "@";
}

.tweet__content {
  display: block;
  clear: left;
  text-indent: 12pt;
}

/* Style for the user profile */

.user-profile {
  min-width: 450px;
  max-height: 300px;
  float: left;
  vertical-align: middle;
}

.user-profile__image {
  float: left;
  margin: 15px 15px 15px 0;
}
